<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Skyshi Digital</title>
</head>
<body>
  <h3>Available Route</h3>
  <ul>
    <li>
      <a href="http://localhost:3030/activity-groups">localhost:3030/activity-groups</a>
    </li>
  </ul>
</body>
</html>
